body {
    margin: 10px;
    height: 100vh;
    background-color: #2C3042;
}

.grid-container {
    margin: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr 3fr 3fr;
    grid-template-areas:
        "a a a"
        "b c c"
        "b d e";
    grid-auto-rows: minmax(150px, 1fr);
    gap: 10px;
}

.grid-item {
    color: white;
    padding: 10px;
}

.grid-item-1 {
    grid-area: a;
    background-color: #FDA060;
}

.grid-item-2 {
    grid-area: b;
    background-color: #00A687;
}

.grid-item-3 {
    grid-area: c;
    background-color: #34DABA;
}

.grid-item-4 {
    grid-area: d;
    background-color: #FC5F57;
}

.grid-item-5 {
    grid-area: e;
    background-color: #FDA060;
}